@import "tailwindcss";
@config "../tailwind.config.cjs";

body {
  @apply bg-ustay-bg text-ustay-text antialiased;
}

@layer components {
  .titulo {
    @apply font-poppins text-titulo text-type-title;
  }
  .subtitulo {
    @apply font-poppins text-subtitulo text-type-subtitle;
  }
  .texto {
    @apply font-poppins text-texto text-type-body;
  }

  .line-clamp-2-custom {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  }
}
